*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #F2D2AE !important;
}

nav {
	background: #765C3D !important;
}

#banner{
	background: 

		linear-gradient(

			rgba(0, 0, 0, 0.59),
			rgba(0, 0, 0, 0.59)

		),
		url("./images/banner.png");
		background-repeat: no-repeat;
		background-size: cover;
}

#title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;
	color: #FFFFFF;
}

#subtitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
}

#button {
	padding: 12px 32px;
	gap: 8px;
	background: #B59066;
	border-radius: 999px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;

}